
 
block content
  h1= title
  p Welcome to #{title}
  table
    thead
      tr
        th Nombre
        //th Edad
    tbody
      

    for usuario in usuarios
        tr
        td=usuario
        //td=usuario.edad
